/* Estilo para el Navbar (Glassmorphism + Shrink) */
        #navbar {
            padding-top: 1.5rem; /* 24px */
            padding-bottom: 1.5rem; /* 24px */
            transition: all 0.3s ease-out;
        }
        
        #navbar.nav-scrolled {
            background-color: rgba(255, 255, 255, 0.85); /* bg-white/85 */
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px); /* Para Safari */
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
            color: #333333; /* eco-text */
            padding-top: 0.75rem; /* 12px */
            padding-bottom: 0.75rem; /* 12px */
        }
        
        #navbar.nav-scrolled .nav-link {
            color: #4B5563; /* text-gray-600 */
        }
        #navbar.nav-scrolled .nav-link:hover {
            color: #27ae60; /* eco-green-dark */
        }

        #navbar.nav-scrolled #nav-logo {
            font-size: 1.875rem; /* text-2xl */
        }

        /* Pequeña animación para la flecha del botón */
        .arrow-hover-group:hover .arrow-icon {
            transform: translateX(4px);
        }

        /* Altura de imagen en grid asimétrico */
        .img-tall {
            height: 28rem; /* 448px */
        }
        .img-short {
            height: 13.5rem; /* 216px */}